<app-header></app-header>


<section class="container admin">
    <div class="row">
        <div class="col-sm-2">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="/account">Account</a>
                </li>
                <li><a href="/billing">Billing</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-10">
            <div class="holder">
                <div ng-show="user.plan == 'Free'">
                  <a href="/pro"><p class="lead bg-primary"><strong>Go Pro</strong> and get 500MB per file upload, no daily upload limits, no advertising and more!</p></a>

                  <p class="info bg-info">
                      <span>Plan</span>
                      <span class="type">Free — 20 MB max filesize, 15 file daily upload limit.</span>

                      <span class="type">
                          <strong>{{user.uploads_today}}/15</strong> files uploaded today</span>
                  </p>
                </div>
                <div ng-show="user.plan != 'Free'">
                  <p class="info bg-info">
                      <span>Plan</span>
                      <span class="type">Pro — 500 MB max filesize, no daily upload limit.</span>

                      <span class="type">
                          <strong>0/&infin;</strong> files uploaded today</span>
                  </p>
                </div>
                <hr>

                <form role="form" ng-submit="submit(user)">
                  <div class="alert alert-danger" ng-show="error">{{error}}</div>
                  <div class="alert alert-success" ng-show="updated">Updated your details successfully</div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" value="{{user.email}}" ng-model="user.email">

                        <span>
                            <strong>Required.</strong> Password resets will be sent to this address.</span>
                    </div>

                    <div class="form-group">
                        <label for="newPassword">New Password</label>
                        <input type="password" class="form-control" id="newPassword" autocomplete="new-password" ng-model="user.new_password">

                        <span>Leave this field blank unless you want to update your password.</span>
                    </div>

                    <hr>

                    <div class="form-group">
                        <label for="password">Current Password</label>
                        <input type="password" class="form-control" id="password" ng-model="user.current_password">

                        <span><strong>Required.</strong> When updating your details we require your current password.</span>
                    </div>

                    <button type="submit" href="#" class="btn btn-signup">Save Changes</button>
                </form>

                <hr>

                <div class="panel panel-default panel-danger">
                    <div class="panel-body">
                <h3>Danger Zone</h3>


                <form role="form" ng-submit="delete(userDelete)">
                    <div class="alert alert-danger" ng-show="error">{{error}}</div>

                      <div class="form-group">

                          <label for="deletePassword">Current Password</label>
                          <input type="password" class="form-control" id="deletePassword" autocomplete="new-password" ng-model="userDelete.current_password">
  
                          <span><strong>Required.</strong> When deleting your account we require your current password.</span>
                      </div>

                      <div class="form-group">
                            <label for="deleteConfirm">Please enter "DELETE" below</label>
                            <input type="input" class="form-control" id="deleteConfirm" ng-model="userDelete.delete_confirm">
                        </div>

                      <button type="submit" class="btn btn-danger" ng-disabled="userDelete.delete_confirm!=='DELETE'">Delete Account</button>
                      <button type="button" href="#" class="btn">Cancel</button>
                  </form>
                </div>
                </div>
            </div>
        </div>
</section>

<app-footer></app-footer>
