{
  "extends": "airbnb/base",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "no-underscore-dangle": [0],
    "no-console": [0],
    "jsx-quotes": [2, "prefer-single"],
    "react/react-in-jsx-scope": 1
  },
  "plugins": [
    "react"
  ]
}
