{
  "extends": "airbnb/base",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "quotes": [2, "single"],
    "no-underscore-dangle": [0],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }]
  }
}
