<!DOCTYPE html>
<html style='height:100%;'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title ng-bind="Hostr">Hostr - <% if (status === 404) { %>File Not Found<% } else { %>Error Encountered<% } %></title>
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href="/styles/app.css" rel="stylesheet" />
  </head>
  <body class='error'>
    <div class='container main'>
      <div class='row'>
        <div class='col-md-12'>
          <div class='error-logo'>
            <a href='/'><img src='/images/logo-dark-r.png' width='26' height='22' /></a>
          </div>
        </div>
      </div>
      <div class='row vertical-center'>
        <div class='col-md-12'>
          <h2><%= status %></h2>
          <% if (status >= 500) { %>
          <h1><%= error %></h1>
          <p>Refreshing might fix the problem. If not, sit tight! We're on it!</p>
          <% } else if (status === 404) { %>
          <h1>Sorry, it looks like the file you asked for is gone.</h1>
          <a href='/'>Take Me Home</a>
          <% } else { %>
          <h1><%=  error %></h1>
          <a href='/'>Take Me Home</a>
          <% } %>
          </p>
        </div>
      </div>
    </div>

    <script>
      var _gaq=[['_setAccount','UA-66209-2'],['_setDomainName', 'hostr.co'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
