<section class="container footer">
  <img src="/images/bullet-r.png" height=8 width=8 />
  <ul class="nav nav-pills">
    <li><a href="/apps">Apps</a>
    </li>
    <li><a href="/pricing">Pricing</a>
    </li>
    <li><a href="mailto:support@hostr.co">Contact</a>
    </li>
    <li><a href="/terms">Terms</a>
    </li>
    <li><a href="/privacy">Privacy</a>
    </li>
    <li><a href="https://twitter.com/gethostr">Twitter</a>
    </li>
  </ul>
</section>
