<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title ng-bind="'Hostr ' + pageTitle">Hostr</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="/images/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="/images/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/images/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-TileImage" content="/images/mstile-144x144.png">
    <base href="/">
    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href='/styles/app.css' rel='stylesheet' type='text/css'>
  </head>
  <body <%= typeof user.email !== "undefined" ? 'dropzone': '' %>>

    <div id="header-messages" ng-show="progress.name || uploadError" class="ng-cloak">
      <div id="header-progress" ng-show="progress.name">
        <div class="meter" style="width: {{progress.percent| number:0}}%;"></div><div class="message-label">{{progress.status}} {{progress.name}} &bull; {{progress.percent| number:0}}%</div>
      </div>
      <div id="header-error" ng-show="uploadError">
        <div class="message-label">{{uploadError}}</div>
      </div>
    </div>

    <div ng-show="loadingView" ng-cloak="loadingView">
      <div class="loading-indicator"></div>
    </div>

    <div ng-view></div>

    <div ng-show="navError" ng-cloak="navError">
      <section class="container header clearfix">
        <div class="row">
          <div class="col-md-8 col-md-offset-2" style='text-align: center;'>
            <div class="logo">
              <a href="/"><img src="/images/logo-dark-r.png" height="22" width="26" alt=""></a>
            </div>
          </div>
        </div>
      </section>
      <section class="jumbotron error-page">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h1>404</h1>
              <h2>We can't find the file you're looking for :(</h2>
              <p class="lead">The owner may have removed it or it may never have existed in the first place.</p>
              <a href="/">Try our homepage instead :)</a>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div id="dropdown-overlay" class="ng-cloak" ng-show="showDropdown" ng-click="overlayClick()"></div>
    <div id="filedrop-overlay"><h1>Drop files to upload</h1></div>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-66209-2', 'hostr.co');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
    </script>
    <script>
      var settings = {
        apiURL: "<%= apiURL %>",
        baseURL: "<%= baseURL %>",
        stripePublic: "<%= stripePublic %>"
      };
    </script>
    <% if (typeof user.email !== 'undefined') { %>
    <script>
      window.user = {
        email: "<%= user.email %>",
        joined: "<%= user.joined %>",
        plan: "<%= user.plan %>",
        maxFileSize: <%= user.maxFileSize %>,
        token: "<%= user.token %>",
        md5: "<%= user.md5 %>",
        uploadsToday: "<%= user.uploadsToday %>"
      };
    </script>
    <% } %>
    <script src='/jspm_packages/system-polyfills.js'></script>
    <script src='/jspm_packages/system.js'></script>
    <script src='/config.js'></script>
    <script>System.import('/build/app');</script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
  </body>
</html>
