<!DOCTYPE html>
<html lang="en" ng-app="hostr">
  <head>
    <title>Hostr Changelog</title>
    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href='/styles/app.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Hostr 0.7.0</h3>
        <h4>Changes</h4>
        <ul>
        <li>Updated branding</li>
        <li>Minor bugfixes</li>
        </ul>
        <p>Stay tuned for a bigger update coming soon!</p>
      </div>
    </div>
  </div>
</body>
</html>
