<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:sparkle="http://www.andymatuschak.org/xml-namespaces/sparkle"  xmlns:dc="http://purl.org/dc/elements/1.1/">
   <channel>
      <title>Hostr's Changelog</title>
      <link>https://hostr.co/updaters/mac.xml</link>
      <description>Hostr updates.</description>
      <language>en</language>
      <item>
        <title>Version 0.7.0</title>
        <sparkle:releaseNotesLink>
          https://hostr.co/updaters/mac/changelog
        </sparkle:releaseNotesLink>
        <pubDate>Mon, 7 Jul 2014 13:20:11 +0000</pubDate>
        <enclosure url="http://hostr.co/apps/mac/Hostr-0.7.0.zip" sparkle:version="0.7.0" length="1343923" type="application/octet-stream" />
      </item>
      <item>
        <title>Version 0.6.0</title>
        <sparkle:releaseNotesLink>
          https://hostr.co/updaters/mac/changelog
        </sparkle:releaseNotesLink>
        <pubDate>Wed, 3 May 2013 23:20:11 +0000</pubDate>
        <enclosure url="http://hostr.co/apps/mac/Hostr-0.6.0.zip" sparkle:version="0.6.0" length="3360915" type="application/octet-stream" />
      </item>
   </channel>
</rss>
