<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Hostr &bull; Instant Sharing</title>
  <meta content='Hostr' property='og:site_name'>
  <meta content='Instant Sharing' property='og:title'>
  <meta content='https://hostr.co' property='og:url'>
  <meta content='https://hostr.co/images/fb.png' property='og:image'>
  <meta name="description" content="Share anything instantly. From screenshots to zip files to anything else, for free!" property="og:description">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png">
  <link rel="icon" type="image/png" href="/images/favicon-196x196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="/images/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/images/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="msapplication-TileImage" content="/images/mstile-144x144.png">

  <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>

  <link href='/styles/style.css' rel='stylesheet' type='text/css'>
</head>

<body>

  <section class="masthead">
    <div class="container">
      <div>
        <img src="/images/logo.png" alt="logo" height=50 width=50 />
        <div class="filetypes hidden-xs">
          <img src="/images/icons.png" height=30 />
        </div>
        <div class="filetypes visible-xs">
          <img src="/images/filetype_header.png" class="img-responsive" />
        </div>
        <img src="/images/tagline.png" class="img-responsive" />

        <div><a href="/signup" class="btn btn-mast btn-lg" id="signup">Sign up</a></div>
        <a href="/signin" class="sign-in">or Sign in</a>
      </div>
      <div class="more">
        <a data-scroll href="#more">Learn More</a>
        <img src="/images/arrow_down.png" height=6 width=11 />
      </div>
    </div>

  </section>

  <section class="container headline" id="more">
    <div class="row">
      <div class="col-sm-12">
        <img src="/images/animation.png" class="img-responsive" />
        <h1>Instant sharing.
          <div class="tag">new</div>
        </h1>
        <p class="lead">
          No more waiting for files to upload before sharing the links. Start uploading and immediately get the link to share with your friends or anyone. Super useful for those large files you need to share!
        </p>
      </div>
    </div>
  </section>


  <section class="features">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
            <h2>You can share</h2>
        </div>
      </div>

      <div class="row f1">
        <div class="col-sm-6">
          <img src="/images/round-icons.png" class="img-responsive" />
        </div>

        <div class="col-sm-6">
          <div class="copy">
            <h3>... anything and everything ...</h3>
            <p>From .avi to .zip, all file types are supported not just images. Share screenshots, movie clips, audio... anything you can think of!</p>
          </div>
        </div>
      </div>

      <div class="row f2">
        <div class="col-sm-6 visible-xs">
          <img src="/images/connected.png" class="img-responsive" />
        </div>

        <div class="col-sm-6">
          <div class="copy">
            <h3>... from anywhere.</h3>
            <p>Download our Mac and Windows apps to make sharing even simpler, with iOS and Android apps coming soon!</p>
          </div>
        </div>
        <div class="col-sm-6 hidden-xs">
          <img src="/images/connected.png" class="img-responsive" />
        </div>
      </div>
    </div>
  </section>

  <section class="container faq">
    <div class="row">
      <div class="col-sm-12">
        <h2>Still have questions?</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h4>Do have to I pay for hostr?</h4>
        <p>Nope, Hostr is free to use! You can upgrade your account to Pro for more features, but Hostr will always be available for free.</p>
      </div>
      <div class="col-sm-4">
        <h4>How much can I upload?</h4>
        <p>You can upload 15 files per day for free and unlimited files per day for Pro users.</p>
      </div>
      <div class="col-sm-4">
        <h4>How long are my files stored for?</h4>
        <p>Files are stored as long as your account is active. In addition, all files are redundantly backed up to Amazon Web Services.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h4>What is the largest file size I can upload?</h4>
        <p>You can upload 20MB files with a free account and 500MB files with Pro.</p>
      </div>
      <div class="col-sm-4">
        <h4>Are there any bandwidth limits?</h4>
        <p>There are no bandwidth limits, however we reserve the right to suspend hotlinking of images in cases of abuse.</p>
      </div>
      <div class="col-sm-4">
        <h4>Will Hostr be around in 6 months?</h4>
        <p>Many sharing services have come and go, but we've been operating for 8 years. Hostr is a labour of love for us.</p>
      </div>
    </div>
    <div class="row cta">
      <div class="col-sm-12">
        <h2>Convinced?</h2>
        <a href="/signup" class="btn btn-mast btn-lg">Create an account</a>
      </div>
    </div>
  </section>

  <section class="container footer">
    <img src="/images/bullet-r.png" height=8 width=8 />
    <ul class="nav nav-pills">
      <li><a href="/apps">Apps</a>
      </li>
      <li><a href="/pricing">Pricing</a>
      </li>
      <li><a href="mailto:support@hostr.co">Contact</a>
      </li>
      <li><a href="/terms">Terms</a>
      </li>
      <li><a href="/privacy">Privacy</a>
      </li>
      <li><a href="https://twitter.com/gethostr">Twitter</a>
      </li>
    </ul>
  </section>
  <script src='/jspm_packages/system.js'></script>
  <script src='/config.js'></script>
  <script>
    System.import('/build/lib/smoothscroll').then(function() {
      smoothScroll.init();
    });
  </script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-66209-2', 'hostr.co');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');
  </script>
</body>
</html>
