<!doctype html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='x-ua-compatible' content='ie=edge'>
  <title>Hostr &mdash; Instant Sharing</title>
  <meta content='Hostr' property='og:site_name'>
  <meta content='Instant Sharing' property='og:title'>
  <meta content='https://hostr.co' property='og:url'>
  <meta name='description' content='Share anything instantly. From screenshots to zip files to anything else, for free!' property='og:description'>

  <link href='/app/build/css/style.css' rel='stylesheet' type='text/css'>
</head>
<body class='home'>
  <div class='header-gradient'>
    <header class='container'>
      <div class='menu'>

      </div>
      <div class='row vertical-center'>
        <div class='col-lg-6'>
          <div class='name'>
            <h1><img src='/images/logo.png' height='40rem' class='logo' /> hostr</h1>
            <p class='tagline'>
              Instant Sharing
            </p>
          </div>
        </div>
        <div class='col-lg-6'>
          <p class='cta'>
            <a href='/signup' class='btn btn-primary btn-lg'>Sign Up</a> or <a href='/signin'>Sign In</a>
          </p>
        </div>
      </div>
    </header>
  </div>
  <div class='container'>
    <section class='row'>

    </section>

    <footer class='row'>

    </footer>
  </div>
</body>
</html>
