<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hostr</title>
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href="/styles/app.css?cache=1401319820000" rel="stylesheet" />
  </head>
  <body>
    <section class="container header clearfix">
      <div class="logo">
        <a href="/"><img src="/images/logo-dark.png" height="22" width="26" alt=""></a>
      </div>

    </section>

    <section class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8 col-sm-12">
          <h2>Hostr Terms of Service</h2>
          <h3>Prohibited Content</h3>
          <h4>Website Hosting</h4>
          <p>Hotlinking graphics is only permitted in the context of sharing, not for hosting your website.</p>
          <h4>Copyright Content</h4>
          <p>The use of warez, media files that you are not the rightful owner of, cracks, and any other forms of copyrighted software that you are not legally allowed to use/distribute are all strictly prohibited.</p>
          <h4>Pornography</h4>
          <p>Pornography of any kind is strictly prohibited. Pornography is defined as content which displays or links to displays of genitalia.</p>
          <h4>Viruses and General Malware</h4>
          <p>Viruses, Trojans, and any other harmful files or malware are all strictly prohibited.</p>
          <h4>Passworded Archives</h4>
          <p>The use of passworded archives is strictly prohibited, Hostr needs to be able to ascertain any archive does not contain any of the above material.</p>
          <h4>Split Archives</h4>
          <p>The use of split archives to circumvent the file size limit is strictly prohibited.</p>
          <hr />

          <p>Breaching any of the above terms may result in your account being terminated without warning.</p>

          <hr />

          <h3>Hotlinking</h3>
          <p>Hotlinking images is permitted. However, abuse of this service may result in temporary limitations on your ability to hotlink. This will not affect your ability to continue using your account. Limitations may imposed permanently for continued abuse.</p>

          <hr />

          <p>Hostr reserves the right to remove content for any reason it deems appropriate.</p>
        </div>
      </div>
    </section>

    <% include footer.ejs %>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-66209-2', 'hostr.co');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
    </script>
  </body>
</html>
