.logo {
  margin-top: -0.5rem;
}

label {
  color: $text-muted;
}

.name {
  text-align: center;
  @media (min-width: 34em) {
    text-align: right;
    padding-right: 1rem;
  }
  @media (max-width: 34em) {
    margin-top: 8rem;
    margin-bottom: 2rem;
  }
}

h1 {
  font-size: 2.7rem;
  margin-bottom: 0;
  a {
    color: #fff;
    text-decoration: none;
  }
}

.tagline {
  color: $text-muted;
  margin-bottom: 0;
}

.cta {
  padding-left: 1rem;
  text-align: left;
  margin-top: 1rem;
  .btn {
    text-transform: uppercase;
    margin-right: 1rem;
  }

  color: $text-muted;

  a {
    margin-left: 1rem;
    text-transform: uppercase;
    color: #fff;
    &:hover {
      text-decoration: none;
      color: darken(#fff, 15%);
    }
  }
  @media (max-width: 34em) {
    padding-top: 50px;
  }
}
