@import url(https://fonts.googleapis.com/css?family=Montserrat|Open+Sans);

html, body {
  height: 100%;
}

$body-bg: #252830;
$body-color: #fff;

$brand-primary: #FE4365;
$btn-primary-bg: $brand-primary;

$font-family-sans-serif:     "Open Sans", Helvetica, Arial, sans-serif !default;
$headings-font-family:       "Montserrat", Helvetica, Arial, sans-serif !default;
$font-family-serif:          "PT Serif", Georgia, "Times New Roman", Times, serif !default;

@import 'bootstrap';

.vertical-center {
  min-height: 100%; // fallback
  min-height: 100vh;
  @media (min-width: 34em) {
    display: flex;
    align-items: center;
  }
}

.header-gradient {
  background: linear-gradient(to bottom, lighten($body-bg, 5%), darken($body-bg, 5%));
}

.dropzone {
  height: 100%;
  min-height: 100%;
}

.home {
  @import 'home';
}
.error {
  @import 'error';
}
.files {
  @import 'files';
}

.image {
  width: 100%;
  padding-bottom: 3.5rem;
  text-align: center;
  header {
    background: lighten($body-bg, 4%);
    padding: 1rem 1rem;
    margin-bottom: 3.5rem;
  }
  h1 {
    font-size: 1rem;
    line-height: 1.8rem;
    margin-bottom: 0;
  }
  img {
    color: #ffffff;
  }
}
