@import url(https://fonts.googleapis.com/css?family=Montserrat|Open+Sans);

html, body {
   height: 100%;
}

@import 'variables';
@import 'bootstrap';

.vertical-center {
  min-height: 100%; // fallback
  min-height: 100vh;
  @media (min-width: 34em) {
    display: flex;
    align-items: center;
  }
}

.header-gradient {
  background: linear-gradient(to bottom, lighten($body-bg, 10%), $body-bg);
}

.home {
  @import 'home';
}
.error {
  @import 'error';
}
