$body-bg: #252830;
$body-color: #fff;

$brand-primary: #FE4365;
$btn-primary-bg: $brand-primary;

$font-family-sans-serif:     "Open Sans", Helvetica, Arial, sans-serif !default;
$headings-font-family:       "Montserrat", Helvetica, Arial, sans-serif !default;
$font-family-serif:          "PT Serif", Georgia, "Times New Roman", Times, serif !default;
